{% if TWITTER_USERNAME %}
<li class="nav-header">
<h4><i class="icon-twitter-sign"></i>Twitter</h4>
<a class="twitter-timeline" href="https://twitter.com/{{ TWITTER_USERNAME }}" data-widget-id="369067960842719232">Tweets by @{{ TWITTER_USERNAME }}</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
{% endif %}
